NEXT_PUBLIC_SUPABASE_URL=https://xglzrafdmpowrcecdlji.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnbHpyYWZkbXBvd3JjZWNkbGppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyODU1ODAsImV4cCI6MjA4Nzg2MTU4MH0.CnKW8D0wXICHEdXKzpDpHMMsZtYD68jx2_fCPDV_dHk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnbHpyYWZkbXBvd3JjZWNkbGppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI4NTU4MCwiZXhwIjoyMDg3ODYxNTgwfQ.YH-0wYVzcU5PM18PvkZj_PUblNRZdpiJeSq_SJBg28A
OPENAI_API_KEY=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
